{% extends "base.html.twig" %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
<div class="container mt-3">
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>Commande</th>
                <th>Membre</th>
                <th>Vehicule</th>
                <th>Date et Heure de départ</th>
                <th>Date et Heure de fin</th>
                <th>Prix total</th>
                <th>Date et Heure d'enregistrement</th>
                <th>Action</th>   
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>
                    {{ commande.membre.id }}-{{ commande.membre.prenom }} {{ commande.membre.nom }}-{{ commande.membre.email }}
                </td>
                <td>{{ commande.vehicule.id }}-{{ commande.vehicule.titre }}</td>
                <td>{{ commande.DateHeureDepart|date('d/m/Y H:i') }}</td>
                <td>{{ commande.DateHeureFin|date('d/m/Y H:i') }}</td>
                <td>{{ commande.Prixtotal }}€</td>
                <td>{{ commande.DateEnregistrement|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="" class="text-info"><i class="bi bi-search"></i></a>
                    <a href="" class="text-warning"><i class="bi bi-pencil-square"></i></a>
                    <a href="" class="text-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>      
             {% endfor %}
            
        </tbody>
    </table>
</div>

{% endblock %}