{% extends "base.html.twig" %}

{% block title %}Gestion des membres{% endblock %}

{% block body %}
<div class="container mt-3">
    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>id membre</th>
                <th>pseudo</th>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
                <th>Civilité</th>
                <th>Statut</th>
                <th>date_enregistrement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}   
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.civilite }}</td>
                <td>{{ membre.roles| join(',') }}</td>
                <td>{{ membre.dateenregistrement|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="" class="text-info"><i class="bi bi-search"></i></a>
                    <a href="{{ path('admin_membre_edit', {id: membre.id}) }}" class="text-warning"><i class="bi bi-pencil-square"></i></a>
                    <a href="" class="text-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>      
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
        {{ form_start(formMembre, {
            attr:{
                novalidate : 'novalidate'
            }
        }) }}
    <div class="row">
        <div class="col-12">{{ form_row(formMembre.roles, {label: 'Statut'} ) }}</div>
        <div class="col-12">{{ form_row(formMembre.civilite, {label: 'Civilité'} ) }}</div>
        <div class="col-6">{{ form_row(formMembre.pseudo, {label: 'Pseudo'} ) }}</div>
        <div class="col-6">{{ form_row(formMembre.email, {label: 'Email'} ) }}</div>
        
    </div>
        <button class="btn btn-primary">Modifié</button>
        {{ form_start(formMembre) }}
</div>


{% endblock %}